*/*/*/target/
sir_robot_brute_force/rust_only/brute_force_password/Cargo.lock

*/*/Env/
*/*/*/.eggs/
sir_robot_brute_force/python_and_rust/brute_force/Cargo.lock
*/*/*/Env/
sir_robot_brute_force/python_and_rust/brute_force/brute_force/
sir_robot_brute_force/python_and_rust/brute_force/setup.py_old
*/*/*/*/__pycache__/
*/*/*/__pycache__/
bargaining_chip_web_crawlers/python_and_rust/summary/summary/summary.cpython-38-x86_64-linux-gnu.so

